.u-margin-right-sm {
  margin-right: 1.6rem !important;
}

.u-margin-bottom-md {
  margin-bottom: 4.8rem !important;
}

.u-center-text {
  text-align: center;
}

.u-hidden {
  display: none !important;
}
