.gallery {
  padding: 12.8rem 1.6rem 1.6rem;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 1.6rem;

  @include respond(small-desktop) {
    grid-template-columns: repeat(2, 1fr);
  }

  @include respond(tab-port) {
    grid-template-columns: repeat(6, 1fr);
    padding: 1.6rem;
  }

  @include respond(phone) {
    grid-template-columns: repeat(4, 1fr);
    gap: 1.2rem;
  }
}
