.how {
  &__text-box {
  }

  &__number {
    font-size: 8.6rem;
    font-weight: 600;
    color: var(--color-grey-09);
    margin-bottom: 1.2rem;
  }

  @include respond(tab-port) {
    font-size: 7.4rem;
  }

  &__description {
    font-size: 1.8rem;
    line-height: 1.8;
  }

  &__img-box {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;

    @include respond(phone) {
      transform: translateY(2.4rem);
    }

    &:nth-child(2) {
      @include respond(phone) {
        grid-row: 1;
      }
    }

    &:nth-child(6) {
      @include respond(phone) {
        grid-row: 5;
      }
    }

    &::before,
    &::after {
      content: '';
      display: block;
      border-radius: 50%;
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
    }

    &::before {
      background-color: var(--color-primary-tint-08);
      width: 60%;
      padding-bottom: 60%;
      z-index: $layer-how-img-before;
    }

    &::after {
      background-color: var(--color-primary-tint-07);
      width: 45%;
      padding-bottom: 45%;
      z-index: $layer-how-img-after;
    }
  }

  &__img {
    width: 35%;
  }
}
