.list {
  list-style: none;
  display: flex;
  flex-direction: column;
  gap: 1.6rem;

  &__item {
    display: flex;
    align-items: center;
    gap: 1.6rem;
    font-size: 1.8rem;
    line-height: 1.2;
  }

  &__icon {
    width: 3rem;
    height: 3rem;
    stroke: var(--color-primary);
  }
}
